/****************
      FONTS
****************/

// OCR-A Font
@font-face {
  font-family: 'OCRA';
  src: url('fonts/OCRA.woff2') format('woff2'),
    url('fonts/OCRA.woff') format('woff'),
    url('fonts/OCRA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
