/****************
     SHAME
****************/

.wp-block-group,
.wp-block-group__inner-container {
  height: 100%;
}

.wp-block-group__inner-container {
  height: calc(100% - 39px);
}

.sidebar .promotions .newsletter {
  top: 340px;
}

#sidebar-3 .banner .newsletter {
  border: none;
}

.banner,
.banner .newsletter {
  height: 100%;
}

.wp-post-image {
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  #sidebar-3 .banner .newsletter header {
    max-width: unset;
  }
}

footer a {
  color: #f89e86;
}

.bottom span {
  margin: 0 10px;
}

.sidebar #block-31 {
  width: 250px;
  margin: auto;
}

.article img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 992px) {
  .single__article {
    width: 50% !important;
  }
}
