/****************
    COMMENTS
****************/

#comments {
  max-width: 900px;
  box-sizing: border-box;
  padding: 0 20px;

  article {
    border: solid 1px $CB-BLACK;
    padding: 20px;
    margin: 20px 0;
  }

  ol {
    &.comment-list {
      padding: 0;
    }

    li {
      list-style-type: none;
    }
  }

  a {
    color: $CB-ACCENT;
  }

  textarea {
    overflow: auto;
    width: 90%;
    margin: auto;
  }

  p label {
    width: 100%;
    display: block;
  }
}
