/****************
      BASE
****************/

html {
  scroll-behavior: smooth;
}

html,
body,
main {
  width: 100%;
}

body {
  background-color: $body-color;
}

main {
  @include flex-align(center, null);
  @include z-index(main);
  position: relative;
  flex-wrap: wrap;
  background-color: $white;
  width: 100%;
}

p {
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
}

h1 {
  font-weight: 300;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
}

iframe {
  box-sizing: border-box;
  width: 100%;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $CB-ACCENT;
  }
}

p {
  font-size: 18px;
}

table {
  width: 90%;

  &,
  td {
    border: solid 1px $CB-BLACK;
  }

  th {
    background: $CB-BLACK;
    color: $white;
  }
}

.display-flex {
  display: flex;
}

.display-flex-center {
  @include flex-center();
}

.text-align-center {
  text-align: center !important;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

#page {
  background: $white;
}

.entry-content {
  height: 100vh;
}

.page-header,
.page-title {
  font-size: 20px;
  text-align: center;
  font-family: $accent-font;
  margin-bottom: 40px;
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.float-container {
  background: $white;
  border-radius: 10px;
  box-shadow: 0 8px 20px $white-float;
  padding: 40px;
}

@include media('medium') {
  .page-header,
  .page-title {
    font-size: 36px;
    text-align: center;
    font-family: $accent-font;
  }
}
