/********************
      Home 
*********************/

/* Landing */

// General & Mobile

.landing__tagline,
.landing__socials,
.landing__title-desktop {
  display: none;
}

// Tablet & Desktop

@include media('medium-large') {
  .landing__tagline,
  .landing__socials,
  .landing__banner {
    display: flex;
  }

  .landing__banner {
    @include flex-align(space-between, flex-end);
    @include margin(null auto);
    width: 99%;
    max-width: $max-width;

    .landing__tagline {
      font-family: $accent-font;
      font-size: 9.5px;

      span {
        padding-left: 5px;
        color: $CB-ACCENT;
      }
    }

    .landing__socials {
      justify-content: space-between;
      padding-right: 50px;
      width: 100px;
    }
  }
}

/* Top Articles & Latest Articles*/

// General & Mobile
.articles {
  @include flex-align(space-around, flex-start);
  flex-wrap: wrap;

  .categories__article:nth-child(n + 6) {
    display: none;
  }

  button {
    font-size: 18px;
    padding: 0.5em;
    width: 150px;
  }
}

.articles__buttons {
  @include flex-center();
  width: 100%;

  button {
    margin: 0;
    &:first-child {
      margin: 10px 5px 0;
    }
  }
}

.articles {
  height: 100%;
}

.articles-promotions h1 {
  width: 100%;
  font-size: 25px;
  text-align: left;
}

.categories__article {
  margin: 25px 12px;
  margin-bottom: 20px;
  width: 100%;
  @include media('medium') {
    max-width: 46%;
  }

  .category__body {
    border-radius: 0;
  }

  .articles__buttons {
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }
}

.articles,
.articles-promotions h1 {
  justify-content: space-between;
  margin-left: 10px;
}

@include media('medium') {
  #featured-article,
  #top-articles,
  #latest-articles {
    justify-content: space-between !important;
    h1 {
      text-align: left;
    }
  }
}

#featured-article,
#top-articles,
#latest-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;

  h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

// Tablet & Desktop
@include media('medium-large') {
  .articles,
  .articles-promotions h1 {
    width: 80%;
  }

  .promotions {
    width: 49%;
  }

  .articles__buttons {
    flex-direction: row;
    margin: 5% 0;

    button {
      margin: 40px 10px 0;

      &:hover {
        border: solid 1px $orange-geraldine;
      }
    }
  }
}
