/****************
     SINGLE
****************/

.single {
  font-family: $primary-font;

  &__shim {
    width: 100%;
    height: 20px;
  }

  &__article {
    width: 95%;
    max-width: 1000px;
  }
}

@include media('medium-large') {
  .single__article {
    width: 65%;
  }
}

.article {
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px 20px;
  line-height: 2;
  max-width: 1116px;

  article img {
    @include box(auto);
    max-height: 500px;
    max-width: 100%;
    display: block;
  }

  @include media('medium-large') {
    & {
      padding: 20px 50px;
    }
  }

  a {
    color: $CB-ACCENT;
  }

  a:hover {
    color: tint($CB-ACCENT, 20%);
  }

  &__title {
    margin: 0;
    line-height: 1.5;
  }

  &__author-info {
    @include flex-align(left, center);
    box-sizing: border-box;
    margin-top: 20px;
  }

  &__author-info > .avatar {
    @include box(45px);
    border-radius: 100%;
    margin: 0 20px 0 0;
  }

  &__author-date-container {
    @include flex-center();
  }

  &__author-date-divider {
    @include box(6px);
    margin: 0 7px;
    border-radius: 50%;
    background-color: $CB-ACCENT;
  }
}

.single__navigation {
  &--previous,
  &--next {
    font-weight: bold;
  }

  .nav-previous,
  .nav-next {
    a {
      padding: 30px;
      width: 100%;
      min-height: 70px;
      border: solid 1px $white;
    }

    @include media('medium-large') {
      & {
        width: 40%;
        display: inherit;
      }
    }
  }

  .nav-links {
    border-top: solid #e4e4e4 1px;
    border-bottom: solid #e4e4e4 1px;
    margin: 10px 0 50px 0;

    @include media('medium-large') {
      & {
        @include flex-align(space-around, flex-start);
      }
    }
  }
}

// 175
